body{
    width: 100%;
    height: 100vh;
}
.projeto{
    margin: 15px;
     
}
.projeto-texto{
    color: white;
    margin: 50px;
    border-bottom: 1px solid white;
    font-weight: 100;
    font-size: 25px;
}
.projetos{
    color:  white;
    font-size:  20px;
    margin:  50px;
    cursor: pointer;
}
.projetos-button{
    color: white;
    border-radius: 5px;
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
}
.oculto{
    color: white;
    border-radius: 6px;
    display: none;
    padding: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    background-color:rgba(23, 61, 130,0.6)
}